<div class="pom">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.69 147.72">
        <g id="Layer_2" data-name="Layer 2">
            <g id="Layer_1-2" data-name="Layer 1">
                <path class="cls-1"
                    d="M122.33 74.37c-3.14-7-8.43-11.61-7.47-12.64.4-.43 1.64 0 2.89.38 2.45.8 3.42 2 3.62 1.82.6-.44-4.51-13.61-16.54-26.54.45-5.15 0-11.77-.53-18.54-.74-10.08-1.11-15.12-3.84-16.11-4.28-1.56-14.74 6.48-18.86 16.67a41.38 41.38 0 0 0-38.23-1.61C39.38 7.4 28.68-.89 24.34.69c-2.73 1-3.1 6-3.84 16.11-.5 6.64-.96 13.13-.5 18.2C7.67 48.66 3.55 63.73 4.15 64.11c.17.11.8-.83 2.67-1.81.44-.23 3.3-1.72 3.93-1.08 1 1-4.66 5.81-7.83 13.79C-.43 83.44.6 91.24.83 91.27a8.11 8.11 0 0 1 1.62-4c.91-1 2.72-2.34 3.72-1.86 1.82.88-1 6.69-.47 14.87A30.93 30.93 0 0 0 10.35 115a7.39 7.39 0 0 1-.47-4.88c.07-.2.84-2.61 2.09-2.78 2.41-.33 3.8 8 9.91 17 5 7.34 11 12 11.75 11.38.34-.26-.42-1.37-.68-4.21-.17-1.81-.36-3.84.27-4.14 1.45-.71 5.32 9 13.37 14.71a28.7 28.7 0 0 0 16 5.21 29.17 29.17 0 0 0 17.72-6.08c7.4-5.9 9.48-14.16 11.24-13.51 1 .35 1.21 3.07.68 5.05a15.34 15.34 0 0 1-1.3 2.68c.35.35 7.37-4.24 13-12 6.21-8.56 7.66-16.81 9-16.49s.19 8.24 1.3 8.45c.95.17 3.44-5.36 4.4-11.88 1.42-9.66-1.19-17.08.48-17.63.82-.27 2.17 1.28 3 2.21 1.87 2.16 2.09 4.07 2.39 4 .67-.09 1.81-8.91-2.17-17.72Zm-5.54 5.43c-.26 0-.45-1.45-2.1-3.12-.7-.72-1.89-1.93-2.61-1.72-1.47.43.83 6.2-.42 13.71-.84 5.07-3 9.37-3.87 9.24s.07-6.33-1.13-6.57-2.5 6.17-8 12.83c-4.91 6-11.08 9.57-11.38 9.29-.13-.1.73-.75 1.14-2.09.46-1.53.23-3.64-.6-3.92-1.5-.45-3.32 5.92-9.82 10.55a28.09 28.09 0 0 1-15.56 4.73 27.35 27.35 0 0 1-14.1-4.06c-7.07-4.45-10.46-12-11.74-11.44-.55.24-.39 1.81-.24 3.23.23 2.2.89 3.07.6 3.27-.7.47-6-3.14-10.32-8.85-5.37-7-6.59-13.46-8.7-13.21-1.1.14-1.78 2-1.84 2.17a5.17 5.17 0 0 0 .41 3.79 22.42 22.42 0 0 1-4.08-11.38c-.48-6.35 2-10.87.41-11.56-.88-.38-2.47.64-3.27 1.45a5.82 5.82 0 0 0-1.42 3.07c-.2 0-1.11-6.1 1.83-12.65 2.79-6.21 7.73-9.95 6.88-10.73-.55-.5-3.06.66-3.45.84-1.65.76-2.2 1.5-2.34 1.41-.67-.38 5.34-19.17 24.21-30.7C40.33 24.25 49.4 18.7 61.94 19c11.25.24 19.06 5 25.58 9 19.17 11.79 27.19 29.45 26.48 29.9-.18.11-1-.79-3.19-1.41-1.09-.32-2.18-.63-2.53-.3-.85.8 3.8 4.41 6.56 9.83 3.51 6.86 2.51 13.7 1.95 13.78Z" />
                <circle class="cls-1" cx="47.82" cy="53.3" r="4.84" transform="rotate(-45 47.827 53.3)" />
                <circle class="cls-1" cx="77.87" cy="53.3" r="4.84" transform="rotate(-13.28 77.902 53.298)" />
                <path class="cls-1"
                    d="M62.27 66.3c-4.68.1-9.27.21-10.27 2.7-.86 2.11 1.13 5 2.82 6.41 2.38 2 5.2 2 7.85 2 2.83 0 5.89 0 8.24-2.29 1.52-1.47 3.22-4.34 2.28-6.4-1.19-2.64-6.13-2.53-10.92-2.42Z" />
            </g>
        </g>
    </svg>
</div>