<section class="login">
    <h2>Login</h2>
    <form action="/login" method="post">

        <img class="img-add-doggo" src="img/ui/age.png" alt="Main pop logo">
        <label for="username" class="label">Username</label>
        <input type="email" placeholder="Enter Username" name="username" required>

        <label for="password" class="label">Password</label>
        <input type="password" placeholder="Enter Password" name="pasword" required>

        <button type="submit">Login</button>
        <label for="remember" class="label">
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>

        <a href="#">Forgot password?</a>
    </form>
</section>