<section class="login">
    <h2>Login</h2>
    <form action="/login" method="post">

        <img class="form-img" src="img/ui/age.png" alt="Main pop logo">
        <label for="username" class="label">Username</label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="password" class="label">Password</label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button type="submit">Login</button>
        <p>Make an account</p>
        <a href="/register">Register</a>
    </form>
</section>