<head>
    <meta charset="UTF-8">
    <meta name="Han Ossef" content="Han Ossef">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PawDoption</title>
    <link href="/styles/style.css" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="/img/ui/mainpom.png">
</head>