<header>
    <button class="open-info">Info</button>
    <div class="nav-buttons">
        <a href="/">Homepage</a>
        <a href="/add-doggo">Add a doggo</a>
        <a href="/find-doggo">Adopt a doggo</a>
        <a href="/likes">My favorites</a>
    </div>
    <nav>
        <button class="close-info">Close</button>
        <h2>PawDoption</h2>
        <p> This is a feature that makes a user match with a dog that is for adoption based on their preferences. Isn't
            it cool?
        </p>
        <div class="nav-buttons-second">
            <a href="/">Homepage</a>
            <a href="/add-doggo">Add a doggo</a>
            <a href="/find-doggo">Adopt a doggo</a>
            <a href="/likes">My favorites</a>
        </div>
        <%- include('../partials/animate-api'); %>
    </nav>
</header>