<header>
    <button class="open-info">Info</button>
    <div class="nav-buttons">
        <a href="/">Login</a>
        <a href="/register">Register</a>
    </div>
    <nav>
        <button class="close-info">Close</button>
        <h2>PawDoption</h2>
        <p> Adopt a dog or add a dog for adoption!
        </p>
        <div class="nav-buttons-second">
            <a href="/">Login</a>
            <a href="/register">Register</a>
        </div>
        <%- include('../partials/animate-api'); %>
    </nav>
</header>