<!doctype html>
<html lang="en">

<%- include('../components/head'); %>

    <body>
        <%- include('../components/header'); %>
            <main>
                <h2>Page not found</h2>
                <img src="./img/ui/404.png" alt="Page not found">
            </main>
            <%- include('../components/footer'); %>
                <script src="scripts/menu.js"></script>
                <script src="scripts/animate-api.js"></script>
    </body>

</html>