<!doctype html>
<html lang="en">

<%- include('../components/head'); %>

    <body>
        <%- include('../components/header'); %>
            <main>
                <h1>Adopt a doggo</h1>
                <%- include('../partials/form-find-doggo'); %>
            </main>
            <%- include('../components/footer'); %>
                <script src="scripts/menu.js"></script>
                <script src="scripts/form-find-doggo.js"></script>
                <script src="scripts/animate-api.js"></script>
    </body>

</html>