<!doctype html>
<html lang="en">

<%- include('../components/head'); %>

    <body>
        <%- include('../components/header'); %>
            <main>
                <%- include('../partials/form-profile'); %>
            </main>
            <%- include('../components/footer'); %>
                <script src="scripts/animate-api.js"></script>
                <script src="scripts/menu.js"></script>
                <script src="scripts/update-profile.js"></script>
    </body>

</html>