/*************/
/* FONT CODE */
/*************/
@font-face {
  font-family: 'spoof';
  src: url(../font/Spoof-Regular.woff);
}

/***********************/
/* CODE COLORS "ROOT"  */
/***********************/
:root {
  --color-primary: #000;
  --color-secondary: #fff;
  --color-menu: #85cbcc;
  --bg-color-solid: #2596be;
  --bg-color: linear-gradient(#2ca9d7, #2c6378);
  --bg-color-reverse: linear-gradient(#b3d1dd, #2ca9d7);
  --bg-color-secondary: linear-gradient(
    rgb(254, 255, 169),
    rgb(81, 160, 154),
    rgb(16, 106, 111)
  );
  --bg-color-menu: #f58d3e;
  --bg-color-button: #f56f3e;
  --bg-color-button-secondary: #012a68;
  --bg-color-royal-blue: royalblue;
  --bg-color-next-button: #eda340;
  --bg-color-next-button-secondary: #ebb165;
  --color-h1: #000;
}

/****************/
/* GENERAL CODE */
/****************/
body {
  background-attachment: fixed;
  background-image: var(--bg-color);
  background-repeat: no-repeat;
  font-family: 'spoof', Arial, Helvetica, sans-serif;
}

header {
  margin-bottom: 2em;
}

main {
  text-align: center;
}

/* CODE FOR HEADER/NAV */
nav {
  background: var(--bg-color-reverse);
  bottom: 0;
  position: fixed;
  left: 0;
  padding: 1em;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: 0.5s;
  z-index: 10;
}

nav.is-open {
  transform: translateX(0);
}

nav p {
  padding-bottom: 2em;
}

nav button {
  background-color: var(--bg-color-menu);
  color: var(--color-secondary);
  width: fit-content;
}

.nav-buttons {
  display: none;
}

.nav-buttons form {
  margin: 1em;
  width: fit-content;
}
.nav-buttons a {
  background-color: transparent;
  width: fit-content;
}

.nav-buttons-second {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.nav-buttons-second a {
  width: 80%;
}

header button {
  background-color: var(--bg-color-royal-blue);
  border-radius: 5px;
  color: var(--color-secondary);
  width: fit-content;
}

/* CODE FOR FOOTER */
footer {
  bottom: 0;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

h1 {
  color: white;
}

/**********/
/* BUTTON */
/**********/
button {
  background-color: var(--bg-color-button);
  box-shadow: 0px 8px 15px rgba(200, 144, 80, 0.3);
  border-radius: 10px;
  border: none;
  color: var(--color-secondary);
  cursor: pointer;
  font-family: 'spoof', Arial, Helvetica, sans-serif;
  padding: 1em;
  width: 30%;
  transition: 0.2s;
}

button:hover {
  background-color: var(--bg-color-button-secondary);
  transform: translatey(-0.5em);
  box-shadow: 0 0.5em var(--bg-color-royal-blue);

  cursor: pointer;
}

button:active,
button:focus {
  box-shadow: none;
}

button:active {
  box-shadow: inset 2px 2px 2px 2px rgb(154, 89, 40);
}

.btn-like {
  margin-bottom: 1em;
}

/* Choice button */
.btn-choice {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

a {
  color: white;
  background-color: #012a68;
  border-radius: 16px;
  height: auto;
  padding: 1em;
  margin: 1em;
  text-align: center;
  text-decoration: none;
  width: 80%;
  word-break: break-all;
}

a:hover {
  background-color: #f56f3e;
}

/********************/
/* POM ANIMATION API*/
/********************/
.pom {
  color: #4169e1;
  width: 6em;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform-origin: 0 0;
  transform: rotate(0) translate3D(-50%, -50%, 0);
  will-change: transform, color;
}

path {
  fill: currentColor;
}

/******************/
/* update profile */
/******************/
.updateProfile {
  display: none;
  color: green;
}

/*********/
/* Media */
/*********/
@media (min-width: 30em) {
  label {
    padding: 1em;
  }

  .questionnaire {
    padding-bottom: 2em;
  }

  .form-add-doggo {
    width: 60%;
  }
}

@media (min-width: 45em) {
  .nav-buttons {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: -4em;
  }

  .nav-buttons-second {
    display: none;
  }

  a {
    width: 30%;
  }
}

/****************/
/* DROPDOWN MAP */
/****************/
.dropbtn {
  background-color: var(--bg-color-button-secondary);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 30px;
  text-transform: uppercase;
}

.dropdown-content {
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  min-width: 160px;
  text-align: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-content a {
  box-shadow: 0px 0px 8px 0px #512924;
  color: white;
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  padding: 12px 16px;
  padding-bottom: 15px;
  padding-top: 15px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: var(--bg-color-button);
}

#dropdown:hover .dropdown-content {
  visibility: visible;
}

#dropdown:hover .dropbtn {
  background-color: var(--bg-color-button);
}

/*******/
/* MAP */
/*******/
#map {
  height: 850px;
  margin-right: 20px;
  margin-left: 20px;
  max-width: 100%;
}

/*******************************/
/* PROGRESSIVE ENHANCEMENT MAP */
/*******************************/
.hidden {
  display: none;
}

ul {
  display: block;
  list-style-type: none;
  padding-inline-start: 0;
}

main {
  text-align: center;
}
